"*":
  autosave:
    enabled: true
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "atom-terminal-panel"
      "termy"
      "term"
      "atom-format-lua"
      "linter-lua"
      "neon-selection"
      "terminal-plus"
      "linter-markdown"
      "linter-pylint"
      "nav-panel-plus"
      "metrics"
      "welcome"
      "vertical-tabs"
      "nuclide"
    ]
    packagesWithKeymapsDisabled: [
      "linter"
    ]
    projectHome: "/home/phennessy/Workspace"
    themes: [
      "one-dark-ui"
      "pure-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "232ef820-676d-8319-4732-678d202cf765"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    focusEditorAfterSearch: true
  linter:
    alwaysTakeMinimumSpace: false
    errorPanelHeight: 50
    gutterPosition: "Left"
    lintOnFly: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-js-yaml": {}
  "linter-pep8":
    ignoreErrorCodes: [
      "E501"
    ]
    maxLineLength: 80
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".dockerfile.erb.source":
  editor:
    tabLength: 4
".dockerfile.source":
  editor:
    tabLength: 4
".dockerignore.source":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    preferredLineLength: 100
    tabLength: 4
